<form action="" method="post">
  <div class="card">
    <h4 class = "card-header">Add Category</h4>
    <div class="card-body">
    <div class="form-group">
      <label for="name">CatName</label>
      <input type="text" name="CatName" class="form-control mt-2" placeholder="Enter name" autofocus>
  </div>
  
  </div>
  <div class="card-footer mt-3">
    <a href="/admin/categories" class="btn btn-outline-success"><i class="bi bi-skip-backward-fill"></i>List</a>
    <button type="submit" class="btn btn-primary"><i class="bi bi-check2"></i>Save</button>
  </div>
</form>